{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap">

    <link rel="stylesheet" href="{% static 'quiz/new_quiz.css' %}">
    <link rel="stylesheet" href="{% static 'quiz/settings_modal.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <button type="button" class="btns" data-toggle="modal" data-target="#settingsModal">
            Settings
        </button>
    </header>

    <footer>

        <div class="btn-group dropup">
            <button type="button" id='add' class="btn btn-primary add_new">
                Add New
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <button id='addCheckbox' class="dropdown-item">Checkbox</button>
                <button id='addShort' class="dropdown-item">Short Answer</button>
                <button id='addMcq' class="dropdown-item">MCQ</button>
            </div>
        </div>

        <button id='save' class="btns"> Save </button>
    </footer>

    {% block content %}
    {% endblock content %}

    <script src="{% static 'quiz/createElements.js' %}"></script>
    <script src="{% static 'quiz/add_choice.js' %}"></script>
    <script src="{% static 'quiz/delete_choice.js' %}"></script>
    <script src="{% static 'quiz/delete_question.js' %}"></script>
    <script src="{% static 'quiz/duplicate_question.js' %}"></script>
    <script src="{% static 'quiz/settings_modal.js' %}"></script>
    <script src="{% static 'quiz/new_update_common.js' %}"></script>

</body>

</html>