<div>
    <div class="question">
        <label for="question">1.</label>
        <input type="text" name="q_1" id="q_1">
    </div>

    <div class="options">
        <div class="option">
            <input type="radio" id="1_option1" name="1_radio_option" value='1'>
            <input type="text" name="1_option1" placeholder="Option 1">

        </div>
        <div class="option">
            <input type="radio" id="1_option2" name="1_radio_option" value='2'>
            <input type="text" name="1_option2" placeholder="Option 2">
        </div>
        <div class="option">
            <input type="radio" id="1_option3" name="1_radio_option" value='3'>
            <input type="text" name="1_option3" placeholder="Option 3">
        </div>
        <div class="option">
            <input type="radio" id="1_option4" name="1_radio_option" value='4'>
            <input type="text" name="1_option4" placeholder="Option 4">
        </div>
    </div>
</div>