{% extends 'quiz/new_update_quiz_common.html' %}
{% load static %}

{% block content %}
<div class="container">

    <form action='{% url "quiz-update" quiz.id %}' method='post' class="quiz-form">
        {% csrf_token %}

        {% include 'quiz/settings_modal.html' %}

        <div class="heading">
            <input type='text' class="heading__text" name='quiz' required autofocus value={{quiz.name}}>
        </div>

        {% for question in quiz.question_set.all %}

        <div class="question">
            <label for="q_{{forloop.counter}}">{{forloop.counter}}.</label>
            <input type="text" name="q_{{forloop.counter}}" id="q_{{forloop.counter}}" class="quiz-form__question"
                required value='{{question.question}}'>

            {% include 'quiz/quiz_update_choices.html' %}

            <div class="footer">
                <div class="point">
                    <input type="number" name="{{forloop.counter}}_point" value='{{question.point}}' min=0 required>
                    <span>points</span>
                </div>
                <div class='footerBtns'>
                    <button type="button" class="duplicateBtn
                    {% if question.type == 'mcq' %}
                    mcqDuplicateBtn
                    {% elif question.type == 'checkbox' %}
                    checkboxDuplicateBtn
                    {% elif question.type == 'short' %}
                    shortDuplicateBtn
                    {% endif %}
                    ">Duplicate</button>
                    <button type="button" class='deleteBtn'>Delete</button>
                </div>
            </div>
        </div>

        {% endfor %}
        <button type='submit' id='submit' hidden></button>
    </form>
</div>

{% endblock content %}