<!-- Copied from  - https://codepen.io/hrsshainik/pen/rNxLKgv -->
{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap">

<link rel="stylesheet" href="{% static 'quiz/new_quiz.css' %}">

<header>
    <button id='add' class="btns"> Add New </button>
    <button id='save' class="btns"> Save </button>
</header>

<div class="container">

    <form action='{% url "quiz-update" quiz.id %}' method='post' class="quiz-form">
        {% csrf_token %}

        <div class="heading">
            <input type='text' class="heading__text" name='quiz' required value={{quiz.name}}>
        </div>

        {% for question in quiz.question_set.all %}

        <div class="quiz-form__quiz">
            <label for="q_{{forloop.counter}}">{{forloop.counter}}.</label>
            <input type="text" name="q_{{forloop.counter}}" id="q_{{forloop.counter}}" class="quiz-form__question"
                required value='{{question.question}}''>

            {% for choice in question.choice_set.all %}

            <div class="quiz-form__ans">
                <input type="radio" required name='{{question.id}}_radio_option' value='{{forloop.counter}}'        
                 {% if question.answer.answer == forloop.counter %} checked {% endif %}>
                <span class="design"></span>
                <input type="text" required name="{{question.id}}_option{{forloop.counter}}" value={{choice.choice}}>
            </div>

            {% endfor %}

        </div>
        {% endfor %}
        <button type='submit' id='submit' hidden></button>
    </form>
</div>
</div>


<script src="{% static 'quiz/quiz_update.js' %}"></script>