{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap">

<link rel="stylesheet" href="{% static 'quiz/quiz_detail.css' %}">

<footer>
    <form action="{% url 'quiz-update' object.id %}" method="GET">
        <button type='submit' id='edit' class="btns"> Edit </button>
    </form>
</footer>

<div class="container">
    <div class="heading">
        <h1 class="heading__text">{{object.name}}</h1>
    </div>

    <form class="quiz-form">

        {% for question in object.question_set.all %}

        {% include 'quiz/quiz_detail_common.html' %}

        {% endfor %}

    </form>

</div>