<!-- Copied from  - https://codepen.io/hrsshainik/pen/rNxLKgv -->
{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap">

<link rel="stylesheet" href="{% static 'quiz/quiz_detail.css' %}">

<header>
    <button type='submit' id='submit' class="btns"> Submit </button>
</header>

<div class="container">
    <div class="heading">
        <h1 class="heading__text">{{quiz.name}}</h1>
    </div>

    <div class="quiz">
        <div class="quiz__heading">
            <h2 class="quiz__heading-text">
                Your are <span class="result"></span> right.
            </h2>
        </div>

        <form action="{% url 'submit-quiz' quiz.id user_id%}" method='POST' class="quiz-form">
            <button type='submit' id='hiddenSubmit' hidden></button>
            {%csrf_token%}

            {% for question in quiz.question_set.all %}

            <div class="quiz-form__quiz">

                <p class="quiz-form__question">{{question.question}}</p>

                {% for choice in question.choice_set.all %}
                <label class="quiz-form__ans" for="{{question.id}}_choice{{ forloop.counter }}">
                    <input type="radio" id="{{question.id}}_choice{{ forloop.counter }}" value="{{ forloop.counter }}"
                        name='{{question.id}}_radio_option' required>
                    <span class="design"></span>
                    <span class="text">{{choice.choice}}</span>
                </label>

                {% endfor %}

            </div>

            {% endfor %}

        </form>

    </div>
</div>

<script src="{% static 'taker/take_quiz.js' %}"></script>