{% load static %}
<!-- {% load taker_extras %} -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap">

<link rel="stylesheet" href="{% static 'taker/take_quiz.css' %}">

<header>
    <button id='timeLimit' data-endDateTime='{{endDateTime}}'></button>
</header>

<footer>
    <button type='submit' id='submit' class="btns"> Submit </button>
</footer>

<div class="container">
    <div class="heading">
        <h1 class="heading__text">{{quiz.name}}</h1>
    </div>

    <div class="quiz">

        <form action="{% url 'submit-quiz' quiz.id user_id%}" method='POST' class="quiz-form">
            <button type='submit' id='hiddenSubmit' hidden></button>
            {%csrf_token%}

            {% for question in quiz.question_set.all %}

            <div class="quiz-form__quiz">
                <div class="question">
                    <p class="quiz-form__question">{{question.question}}</p>
                    <div class="point">
                        <p>{{question.point}}</p>
                        {% if question.point == 1 %}
                        <span>point</span>
                        {% else %}
                        <span>points</span>
                        {% endif %}
                    </div>
                </div>

                {% for choice in question.choice_set.all %}
                <label class="quiz-form__ans" for="{{question.id}}_choice{{ forloop.counter }}">
                    <input type="radio" id="{{question.id}}_choice{{ forloop.counter }}" value="{{ forloop.counter }}"
                        name='{{question.id}}_radio_option' required>
                    <span class="design"></span>
                    <span class="text">{{choice.choice}}</span>
                </label>

                {% endfor %}

            </div>

            {% endfor %}

        </form>

    </div>
</div>

<script src="{% static 'taker/take_quiz.js' %}"></script>